.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo {
    width: 100px;
    object-fit: cover;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__search-input {
    height: 2.3rem;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__search .header__search-icon {
    padding: 5px;
    height: 2.3rem;
    background-color: #cd9042;
    width: 3rem;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.header__search-input:focus {
    outline: 1px solid #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}
.header__option-small {
    font-size: 10px;
}
.header__option-mid {
    font-weight: 800;
    font-size: 16px;
}

.header__option-cart {
    flex-direction: row;
    align-items: center;

}
.total__in-cart {
    font-weight: 400;
    margin: 0 10px 0 7px;
}